*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: $background-one;
}

.rightbar {
  width: 80%;
  float: right;
}

@media (max-width: 575px) {
  .rightbar {
    width: 90%;
  }
}