/* Colors */

$background-one: #F5F5F2;
$background-two: #222222;
$background-three: #56819F;
$background-four: #04AE00;
$background-light: #FFFFFF;
$background-leftbar: #000000;
$brand-color: #F58220;
$btn-hover-one: #FFA200;
$font-main-color: #979797;
$font-light-color: #E3E3E3;

/* Font sizes */

$main-font-size: 16px;

/* Fonts */

$brand-font: 'Dancing Script', cursive;
$main-font: 'Roboto', sans-serif;

