.btn-add {
    background-color: $brand-color;
    height: 40px;
    width: 100px;
    border-radius: 10%;
    padding: 3px;
    margin: 20px auto;
    padding-top: 10px;
    text-align: center;
    
    &:hover {
      background-color: $btn-hover-one;
    }
      
    > a {
      text-decoration: none;
      font-family: $main-font;
      color: $background-one;
    }
}